.link2 {
  text-align: center;
}

.navbar span {
  display: block;
  color: red;
  text-decoration: none;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 10px;
  background: #f7ffb8;
  font-weight: 700;
  cursor: pointer;
}

.container {
  &-big-box {
    background-color: #99ff99;
    color: PINK;
    font-weight: bold;
    border: double 3px blue;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
  }
}

marquee {
  h1 {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
      helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji,
      segoe ui symbol !important;
    font-size: 14px;
    color: red;
    font-weight: 800;
    word-spacing: 4px;
  }
}

.game {
  &-slots-area {
    padding: 0 1px 0 1px;
    border: 1px solid black;
    background-color: #003300;
  }
  background: #000;
  padding: 0;
  border: double 6px #ff0;
  border-radius: 30px;

  &-column {
    border: 1px solid #000;
    text-align: center;
    padding: 0 1px 0 1px;
    border: 1px solid black;
    background-color: #003300;
    padding: 30px;

    &-area {
      margin: 0px;
      padding: 0px;
    }
  }

  &-slots {
    display: inline-flexbox;
    display: inline-flex;

    img {
      margin: 10px;
    }

    .left-brac,
    .right-brac {
      color: #58facd;
    }
  }
}
