.link2 {
  text-align: center;
}

.navbar span {
  display: block;
  color: red;
  text-decoration: none;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 10px;
  background: #f7ffb8;
  font-weight: 700;
  cursor: pointer;
}

.container {
  &-big-box {
    background-color: #99ff99;
    color: PINK;
    font-weight: bold;
    border: double 3px blue;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
  }
}

marquee {
  h1 {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
      helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji,
      segoe ui symbol !important;
    font-size: 14px;
    color: red;
    font-weight: 800;
    word-spacing: 4px;
  }
}

.game {
  &-slots-area {
    padding: 0 1px 0 1px;
    border: 1px solid black;
    background-color: #003300;
  }
  background: #000;
  padding: 0;
  border: double 6px #ff0;
  border-radius: 30px;

  &-column {
    border: 1px solid #000;
    text-align: center;
    padding: 0 1px 0 1px;
    border: 1px solid black;
    background-color: #003300;
    padding: 30px;

    &-area {
      margin: 0px;
      padding: 0px;
    }
  }

  &-slots {
    display: inline-flexbox;
    display: inline-flex;

    img {
      margin: 10px;
    }

    .left-brac,
    .right-brac {
      color: #58facd;
    }
  }
}



table.table tbody tr td,
table.table thead tr th,
table.table thead tr td,
table.table thead {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.result {

  tbody {
    th {
      border-color: #000;
      background-color: #ffff79;
      color: #FF0000;
      font-size: 12px;
      font-weight: bold;
    
    }

  }

  .table-head {
    tr {
      border-color: #000;
      background-color: #ffff79;
      color: #FF0000;
      font-size: 12px;
      font-weight: bold;
      padding: 0px 2px 0px 2px;
    }
 
  }

  &-table {
    font-weight: 900;
    width: 100%;
    /* color: #fff; */
    font-size: 14px;
    background: #fff;
    /* border-color: #000; */
    border-color: #000;
    margin: 10px !important;
  }
  &-header {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: red;
  }

}




/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		// table, thead, tbody, th, td, tr {
		// 	display: block;
		// }

		/* Hide table headers (but not display: none;, for accessibility) */
		// thead tr {
		// 	position: absolute;
		// 	top: -9999px;
		// 	left: -9999px;
		// }

    // tr {
    //   margin: 0 0 1rem 0;
    // }
      
    // tr:nth-child(odd) {
    //   background: #ccc;
    // }
    
		// td {
		// 	/* Behave  like a "row" */
		// 	border: none;
		// 	border-bottom: 1px solid #eee;
		// 	position: relative;
		// 	padding-left: 50%;
		// }

		// td:before {
		// 	/* Now like a table header */
		// 	position: absolute;
		// 	/* Top/left values mimic padding */
		// 	top: 0;
		// 	left: 6px;
		// 	width: 45%;
		// 	padding-right: 10px;
		// 	white-space: nowrap;
		// }

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		// td:nth-of-type(1):before { content: "First Name"; }
		// td:nth-of-type(2):before { content: "Last Name"; }
		// td:nth-of-type(3):before { content: "Job Title"; }
		// td:nth-of-type(4):before { content: "Favorite Color"; }
		// td:nth-of-type(5):before { content: "Wars of Trek?"; }
		// td:nth-of-type(6):before { content: "Secret Alias"; }
		// td:nth-of-type(7):before { content: "Date of Birth"; }
		// td:nth-of-type(8):before { content: "Dream Vacation City"; }
		// td:nth-of-type(9):before { content: "GPA"; }
		// td:nth-of-type(10):before { content: "Arbitrary Data"; }
	}