<div class="navbar">
  <div class="col-md-6">
    <div class="link2">
      <span>Satta Leak</span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="link2" (click)="goToResult()">
      <span>Satta Results</span>
    </div>
  </div>
</div>
<marquee
  ><h1 style="font-size: 14px; color: red">
    Satta king, Sattaking, Satta king 2020, Satta king up, Satta result, Satta
    king result, Satta king online, Gali result, Desawar result, Satta king
    chart, Satta king live, Gali satta, Deshawar live result, Gali live result,
    Satta matka, Satta matka king, Satta king up, Satta king 2020 chart, Satta
    king desawar, Satta king gali, Gali live result, Disawar live result, Satta
    Number, Satta Game, Gali Number, Delhi Satta king, Satta Bazar, Black satta
    king, Gali Single Jodi, Black Satta Result, Desawar Single Jodi
  </h1></marquee
>
<div class="content">
  <div class="container-big-box">
    <p style="font-size: 16px; color: black">
      गली हो या देसावर जोड़ी मिलेगी सिंगल कंपनी लाखों लोगों ने ज्वाइन की हुई है
      जो की काफी सालो से जुड़े है हमारे साथ हर महीने 40 से 50 लाख का प्रॉफिट
      होता है हमारे भाईयों का
    </p>
    <p style="font-size: 18px; color: #8b0000">
      गेम पास का प्रूफ देखने केलिए WhatApp करें
    </p>
    <p></p>
    <p style="font-size: 18px; color: BLUE">
      सुहाना गुप्ता - सट्टा कंपनी CEO &amp; MD
    </p>
    <p style="font-size: 22px; color: red">08707349640</p>
    <a href="tel:>08707349640"
      ><button
        style="
          height: 35px;
          width: 160px;
          background-color: BLUE;
          color: #fff;
          border: double 3px red;
          border-radius: 20px;
        "
      >
        <font size="4px"><b>WhatsApp Now</b></font>
      </button></a
    >
    <a href="tel:>08707349640"
      ><button
        style="
          height: 35px;
          width: 135px;
          background-color: GREEN;
          color: #fff;
          border: double 3px red;
          border-radius: 20px;
        "
      >
        <font size="4px"><b>Call Now</b></font>
      </button></a
    >
  </div>
</div>

<section class="game">
  <div>
    <div align="center" class="style1">
      <br />
      <b style="font-size: 30px; color: #fff" class="greenyellow">
        FARIDABAD
      </b>
      <br />
      <b style="font-size: 40px; color: #f7ff00"> WAIT </b>
      <br />
    </div>
  </div>
</section>

<!--  style="padding: 0 1px 0 1px; border: 1px solid black; background-color:#003300" -->
<div class="row game-slots-area">
  <div class="col-md-6 col-sm-6 game-column-area" *ngFor="let game of allMultipleGames">
    <div class="game-column" style="text-align: center">
      <span
        ><a href="index.php">
          <font
            style="
              text-transform: uppercase;
              color: #fff;
              font-size: 18px;
              font-weight: bold;
              padding-left: 2px;
              padding-right: 2px;
            "
          >
            {{game.name}}</font
          >
        </a></span
      ><br />
      <div class="time-font">
        <font style="color: yellow" class="time-font">( {{game.time}} )<br /></font>
      </div>
      <div class="time-font">
        <span class="game-slots">
          <font style="color: white" class="time-font">{{ 'XX' }}<br /></font>
          <img
            src="assets/new.gif"
            width="20"
            height="10"
            alt="Satta king | Sattaking | Satta result | Satta king online | Satta king result | Satta king live"
            title="Satta king | Sattaking | Satta result | Satta king online | Satta king result | Satta king live"
          />
          <font style="color: white" class="time-font"> <span class="left-brac"> [ </span> {{game.result}}  <span class="right-brac">]</span><br /></font>
        </span>
      </div>

     
    </div>
  </div>

</div>
