<section class="footer container">
  <a  style="font-size: 17px">HOME |</a>
  <!-- <a href="about.php" style="font-size: 17px">ABOUT |</a>
  <a href="contact.php" style="font-size: 17px">CONTACT |</a>
  <a href="faq.php" style="font-size: 17px">FAQ |</a>
  <a href="disclaimer.html" style="font-size: 17px">DISCLAIMER |</a>
  <a href="Privacy-Policy.html" style="font-size: 17px">PRIVACY POLICY |</a
  ><br /> -->
  <a (click)="openSiteMap()" style="font-size: 17px"> SITEMAP </a>
  <footer class="fname">
    © 2020 <a>WWW.SATTAKINGMAIN.IN</a>
  </footer>
</section>
