/* You can add global styles to this file, and also import other style files */



body {

    height: 100%;
    width: 100%;
    background: #fcc200 !important;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
